.heading{
    text-align: center;
    font-size: 40px;
}
.container{
    text-align: center;
    font-size: 38px;

}
body{
    background-color:#573280;
    font-family: 'Permanent Marker',cursive;
    font-size: 25px;
    color:#23022E;
    
}
footer{
    font-size: 25px;
    text-align: bottom;
     color:grey;
     
}

img{
    display:block; margin:auto;
}

h2{
    text-align: center;
}

nav{
    margin: 0%;
    padding: 0%;
    width: 100% auto;
    height: 60px;
    background-color:#BCAA99;
    text-align: center;
    color:black;
    list-style: none;
    list-style-type: georgian;
}
nav li{
    display: inline-block;
    padding: 10px 40px;
    }
nav a{color:grey;}
