.heading{
    text-align: center;
    font-size: 40px;
}
.container{
    text-align: center;
    font-size: 38px;

}
body{
    background-color: gold;
    font-family: 'Permanent Marker',cursive;
    
}